<fieldset class="devise_form">
  <legend>Sign up</legend>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <label class="fa fa-user devise_input_label" aria-hidden="true"><%= f.email_field :email, autofocus: true, :placeholder => "E-mail" %></label>
    <label class="fa fa-unlock-alt devise_input_label" aria-hidden="true"><%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %></label>
    <label class="fa fa-lock devise_input_label" aria-hidden="true"><%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Password conformation" %></label>
    <%= f.submit "Sign up", :class => "submit_button signup_button" %>
  <% end %>
  <%= render "devise/shared/links" %>
</fieldset>



